{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/register">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/products">Boutique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/cart">Panier</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>


    

<main>
    <div><h1>Page d'Acceuil</h1></div>
    <div>
         <h2>Produits</h2>
    </div>
    <div class="row">

    {% for product in products %}

    <div class="card col-md-6 col-lg-4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nom: {{ product.name }}</h5>
            <p class="card-text"><strong> Prix: {{(product.price / 100)|number_format(2,) }} € </strong></p>
            <a href="#" class="btn btn-primary">voir</a>
            <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
    

    {% endfor %}

    </div>

</main>




<footer>
    <div>
        <p>Nom de la société : Stubborn</p>
        <p>Adresse : Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <p>Adresse de contact : stubborn@blabla.com</p>
        <p>Slogan: Don't compromise on your look</p>
    </div>
    
</footer>

{% endblock %}
